@media (max-width:1200px) {
    .container {
        grid-template-rows: repeat(2,445px);
        grid-template-columns: repeat(2,305px);
        column-gap: 40px;
        row-gap: 200px;
        justify-content: center;
    }

    ul {
        margin-top: 220px;
    }
}

@media (max-width:720px) {
    .container {
        grid-template-rows: repeat(4,445px);
        grid-template-columns: repeat(1,305px);
    }
}

@media (max-width:370px) {
    .drop {
        display: none;
    }
}


