.container {
    padding: 0;
    display: grid;
    margin-top: 115px;
    grid-template-rows: repeat(1,445px);
    grid-template-columns: repeat(4,305px);
    gap: 20px;
}

.product {
    border: 1px solid #E4ECF9;
    box-shadow: 0 3px 6px #DFEAFC;
}

#name,
#price,
#color,
#short_desc {
    padding-left: 20px;
}

#image_url {
    border-bottom: 1px solid #E4ECF9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    text-align: center;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-top {
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #76CB22;
    background-color: #76CB22;
    color: #FFFFFF;
    padding: 5.64px 9.04px;
    margin-top: 18.08px;
    margin-left: 20px;
}

.btn-top:hover {
    border: 1px solid #84f513;
    background-color: #84f513;
    transition: 1s;
}

#name {
    text-decoration: underline;
    font-size: 16px;
    line-height: 26px;
    color: #4F545F;
    margin-top: 17.69px;
}

#price {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4F545F;
    margin-top: 10px;
}

#color,
#short_desc {
    font-size: 12px;
    line-height: 20px;
    color: #6C7683;
}

#color {
    margin-top: 10px;
}

#short_desc {
    margin-top: 5px;
}

.btn-down {
    border: 1px solid #336EC6;
    background-color: #336EC6;
    border-radius: 6px;
    box-shadow: 0 4px 8px #A9C2E9;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 20.33px 15.12px 44px;
    margin: 23.16px 0 21.88px 20px;
}

.btn-down:hover {
    border: 1px solid #2377f7;
    background-color: #2377f7;
    transition: 1s;
}

.product-all {
    visibility: hidden;
    opacity: 0;
    max-height: 190px;
    border-top: hidden;
}

.product-border-all {
    height: 630px;
    position: relative;
}

.product {
    top: 0;
    height: 465px;
}

.product:hover {
    height: 630px;
}

.product:hover .product-all {
    visibility: visible;
    opacity: 1;
    transition: 3s;
}

.product:hover {
    box-shadow: 0 6px 12px #DFEAFC;
    border-bottom: hidden;
}


.btn-image {
    background-image: url(IMG/Cart.svg);
    background-repeat: no-repeat;
    background-size: 30px 15px;
    background-position: 14px center;
}

ul {
    margin-top: 195px;
    margin-bottom: 200px;
}

.page-item:not(:last-child) {
    margin-right: 6px;
}

.page-link {
    border: 1px solid #EFF5FE;
    border-radius: 100px;
    background-color: #EFF5FE;
    color: #4F545F;
}

.page-link:hover {
    background-color: #336EC6;
    color: #FFFFFF;
}

.page-link:focus {
    background-color: #336EC6;
    color: #FFFFFF;
}

.pagination-sm .page-link {
    padding: 7px 13px 7px 13px;
}

.pagination-sm .page-item:first-child .page-link {
    border-radius: 100px;
    padding: 7px 13px 7px 13px;
}

.pagination-sm .page-item:last-child .page-link {
    border-radius: 100px;
    padding: 7px 13px 7px 13px;
}
